.left-menu-box{
    box-sizing: border-box;
    display: flex;
    width: 299px;
    padding: 24px 32px;
    flex-direction: column;
    gap: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 3px 0px 6px 0px;
}

.left-menu-title{
    color: #64748B;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}